html,
body {
 padding: 0;
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 text-align: center;
}

* {
 box-sizing: border-box;
}

a {
 text-decoration: none;
 color: #000;
}

a:hover,
a:focus,
a:active {
 cursor: pointer;
}

/* global classes */

.capped {
 padding: 0 16px;
}

@media screen and (min-width: 600px) {
 .capped {
  padding: 0 19%;
 }
}

@media screen and (min-width: 800px) {
 .capped {
  padding: 0 23%;
 }
}
